<!DOCTYPE html>
<html>
    <head>
        <title>NodeJS CRUD</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="background-color: #5CCEEA;>
        <div class="row">
            <div class="col-md-6 offset-md-3" style="background-color: #fff; margin-top:25px;padding:20px">
                {{{body}}}
            </div>
        </div>
    </body>
</html>